form .form-peserta{
    position: relative;
    display: grid;
    justify-content: space-between;
    padding: var(--card-padding);
    grid-template-columns: repeat(4, 1fr);
}

form .form-peserta .input-box {
    margin-top: 10px;
    width: calc(100% / 2);
}

.form-peserta .input-box input {
    height: 2.5rem;
    width: auto;
    outline: none;
    border-radius: 0.3rem;
    border: 1px solid #ccc;
    padding-left: 1rem;
    font-size: 1rem;
    border-bottom-width: 2px;
    transition: all 0.4s ease;
    margin-right: 5px;
}

.form-peserta .input-box input:focus {
    border-color: var(--warna-primary);
}

.form-peserta .input-box .details {
    font-weight: 500;
    margin-bottom: 0.5rem;
}
