.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 30px 0;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 60px;
  height: 60px;
}

.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right .tema-toggle {
  display: flex;
  background: var(--warna-light);
  justify-content: space-between;
  align-items: center;
  height: 25px;
  width: 65px;
  cursor: pointer;
  margin-right: 30px;
  border-radius: var(--border-radius-1);
  transition: 0.3s all ease-in-out;
}

.right .tema-toggle span {
  display: flex;
  font-size: 20px;
  height: 100%;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.right .tema-toggle span.active {
  background: var(--warna-primary);
  color: white;
  border-radius: var(--border-radius-1);
}

.right .profile {
  display: flex;
  text-align: right;
  gap: 10px;
  align-items: center;
}

.profile .photo_user {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
}
